@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;  
  background-color: #001f3f; 
  background-image: url('Images/1849677cea5163372b1f4578944d76db.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 500px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color:  #F7E7CE;
}

.input-field {
  position: relative;
  border-bottom: 2px solid  #001f3f;
  margin: 15px 0;

}

.input-field label {
  position: absolute;
  color: #F7E7CE;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input,
.input-field select {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color:  #F7E7CE;
}

.input-field input:focus~label,
.input-field input:valid~label,
.input-field select:focus~label,
.input-field select:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.input-group {
  display: flex;
  gap: 10px;
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}

#reveal-passwords {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
  background: #F7E7CE;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register {
  text-align: center;
  margin-top: 30px;
  color:  #F7E7CE;
}
  .input-field {
    position: relative;
    border-bottom: 2px solid #001f3f;
    margin: 15px 0;
  }

  .input-field .status-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    display: none;
  }

  .status-icon.verified {
    color: green;
    display: inline; 
  }

  .status-icon.error {
    color: red;
    display: inline;
  }
